@{
    ViewData["Title"] = "Equine Tracker Home Page";
}

<html>
<body>
    <div class="page-header">
        <h3>@ViewBag.Greeting, Welcome To Equine Tracker!</h3>
    </div>
    <div class="body-content">
        <img class="center-block" src="~/images/photo1.jpg" />
    </div>
</body>
</html>
